input {
    border: none;
    border-radius: 5px;
    background-color: #3C493F;
    height:30px;
    width: 300px;
    text-indent: 5px;
    margin-bottom: .5em;
    margin-top: .5em;
    font-size: 14px;
    color: white;
}

input:focus {
    outline: none;
    background-color: #A2E3C4;
    color: black;
}

button {
    margin-top: .5em;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    background-color: #3C493F;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #A2E3C4;
    color: black;
}